/* Import Poppins Font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

/* Global Font Styling */
* {
  font-family: "Poppins", sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  overscroll-behavior: none;
}

@font-face {
  font-family: "NoizeSport";
  src: url("/src/assets/fonts/NoizeSport.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}


.slick-dots li.slick-active div {
  background-color: #fff !important; /* Change active dot color */
}
